.dog-card {
  border-radius: 10px;
  border: none; /* Elimina el borde para que solo se vea la sombra */
  background-color: rgba(243, 139, 50, 0.1); /* Fondo suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-family: "Nunito", sans-serif;
  margin: 20px auto;
  max-width: 300px; /* Limita el ancho para que no sea demasiado grande */
}

.dog-card img {
  border-radius: 10px 10px 0 0; /* Redondea solo las esquinas superiores */
  width: 100%;
  height: 200px; /* Tamaño fijo para las imágenes */
  object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}

.dog-card h3 {
  color: #f38b32;
  font-weight: 700;
  margin-top: 10px;
}

.dog-card-button {
  background-color: #f38b32;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dog-card-button:hover {
  background-color: #e59400;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .dog-card {
    max-width: 80%; /* Más ancho en pantallas pequeñas */
  }
  .dog-card img {
    height: 180px; /* Ajusta la altura de la imagen en pantallas medianas */
  }
}

@media (max-width: 576px) {
  .dog-card img {
    height: 150px; /* Ajusta la altura de la imagen en pantallas pequeñas */
  }
}
