.footer {
  background-color: rgba(243, 139, 50, 0.35);
  color: #008eb6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  font-family: "Nunito", sans-serif;
}

.footer-logo {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
}
.footer-logo img {
  width: auto;
  height: 80px;
}

.contact-info {
  flex: 2;
  text-align: center;
  margin-bottom: 20px;
}

.social-media {
  color: #008eb6;
  flex: 1;
  text-align: center;
}

.social-media a {
  margin: 0 20px;
}

.social-media i {
  font-size: 30px;
}

.social-media a:hover {
  color: #f38b32;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-media a {
    margin: 0 10px;
  }

  .footer-logo img {
    height: 60px;

    .contact-info p {
      margin: 10px 0;
    }
  }
}
