.footer {
  background-color: #f38b32;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  font-family: "Nunito", sans-serif;
}

.footer-logo {
  flex: 1;
  text-align: center;
}

.footer-logo img {
  width: auto;
  height: 100px;
  border-radius: 10%;
  transition: transform 0.3s ease;
}

.footer-logo img:hover {
  transform: scale(1.1);
}

.contact-info {
  flex: 1;
  text-align: center;
  margin: 10px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info i {
  margin-right: 10px;
}

/* Redes sociales */
.social-media {
  flex: 1;
  text-align: center;
}

.social-media a {
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-media i {
  font-size: 30px;
  color: white;
}

.social-media a:hover i {
  color: #008eb6;
  transform: scale(1.2);
}

.footer-credits {
  flex-basis: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #f0f0f0;
  font-weight: 600;
}
.footer-credits p {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .contact-info p {
    font-size: 14px;
  }

  .footer-logo img {
    height: 60px;
  }

  .social-media i {
    font-size: 25px;
  }

  .footer-credits {
    margin-top: 10px;
  }
}
