.dog-card-container {
  margin-top: 0px !important;
  padding: 48px 0;
  background-color: rgba(243, 139, 50, 0.2);
  text-align: center;
}

.section-title {
  color: #f38b32;
  font-size: 40px;
  margin-bottom: 16px;

  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.section-description {
  font-size: 19px;
  color: #555;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
  }

  .section-description {
    font-size: 16px;
  }
}
