.dog-section {
  padding: 2rem 0;
  text-align: center; /* Centra el título y el contenido */
}

.dog-section h2 {
  color: #f38b32;
  font-size: 36px;
  margin-bottom: 1.5rem;
  font-family: "Nunito", sans-serif;
}

.dog-section .row {
  display: flex;
  justify-content: center; /* Centra las tarjetas en la fila */
  gap: 20px; /* Espacio entre las tarjetas */
}
