/* Contenedor general de la vista */
.info-adoption-section {
  background-color: #f7f9fc;
  padding: 32px; /* 2rem convertido a px */
}

/* Título principal */
.info-adoption-title {
  text-align: center;
  font-size: 40px; /* 2.5rem convertido a px */
  font-weight: bold;
  color: #f38b32;
  margin-bottom: 32px; /* 2rem convertido a px */
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Tarjeta de información */
.info-adoption-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.info-adoption-image {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  margin: 16px; /* 10px convertido a px */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-adoption-details {
  flex: 1;
  padding: 20px;
}

.info-adoption-name {
  font-size: 32px; /* 2rem convertido a px */
  color: #008eb6;
  margin-bottom: 16px; /* 10px convertido a px */
}

.info-adoption-about {
  font-size: 19px; /* 1.2rem convertido a px */
  line-height: 1.5;
  color: #555;
  margin: 16px 0; /* 10px y 0 convertido a px */
}

.info-adoption-buttons {
  margin-top: 20px;
  display: flex;
  gap: 16px; /* 10px convertido a px */
}

.info-adoption-btn-adopt {
  background-color: #f38b32;
  color: white;
  border: none;
  padding: 16px 32px; /* 10px 20px convertido a px */
  font-size: 16px; /* 1rem convertido a px */
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-adoption-btn-adopt:hover {
  background-color: #e59400;
}

.info-adoption-btn-back {
  background-color: #008eb6;
  color: white;
  border: none;
  padding: 16px 32px; /* 10px 20px convertido a px */
  font-size: 16px; /* 1rem convertido a px */
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-adoption-btn-back:hover {
  background-color: #005f8d;
}

.info-adoption-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
}

.info-adoption-paw-spinner {
  font-size: 48px; /* 3rem convertido a px */
  color: #f38b32;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info-adoption-error {
  text-align: center;
  font-size: 24px; /* 1.5rem convertido a px */
  color: #ff6b6b;
  margin-top: 20px;
}
