.inscription-section {
  padding: 32px;
  color: #f38b32;
}

.title {
  text-align: center;
  font-weight: 700;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 40px;
}

.description {
  flex: 1;
  text-align: left;
  color: #000;
  margin-right: 16px;
}

.inscription-button {
  background-color: #f38b32;
  color: white;
  border: none;
  padding: 8px 24px;
  font-size: 32px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.inscription-button:hover {
  background-color: rgba(243, 139, 50, 0.5);
}

.cost-container {
  text-align: left;
  margin-bottom: 32px;
}

.cost-title {
  color: #008eb6;
  font-size: 24px;
  margin-bottom: 8px;
}

.date {
  color: #000;
  font-weight: 700;
}

.date-info {
  font-weight: 400;
}

.schedule-table {
  margin-top: 24px;
  text-align: center;
}
