.navbar {
  font-family: "Nunito", sans-serif;
  height: 100px;
}
.navbar-brand {
  width: 70px; /* Define el ancho del círculo */
  height: 70px; /* Define el alto del círculo */
  border-radius: 50%; /* Hace que el contenedor sea un círculo */
  overflow: hidden; /* Oculta cualquier parte de la imagen fuera del círculo */
  display: flex; /* Centra la imagen si es necesario */
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  padding: 0px;
  margin: 0px;
}
.navbar-brand img {
  width: 100%; /* Ajusta la imagen al tamaño del contenedor */
  height: 100%; /* Asegura que la imagen cubra todo el contenedor */
  object-fit: cover; /* Recorta y ajusta la imagen sin distorsionarla */
}
.bg-custom {
  background-color: rgb(0, 142, 182) !important;
}

.nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 20px;
}

.login-btn {
  background-color: #008eb6;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.login-btn :hover {
  background-color: white;
}

.login-btn i {
  margin-right: 10px;
  font-size: 25px;
}

@media (max-width: 768px) {
  .login-btn {
    width: 100%;
    margin-top: 10px;
  }
}
