.quienes-somos-page {
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

.qs-header {
  background-image: url("../../images/slide1.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

.qs-header-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qs-title {
  font-size: 48px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

.qs-content {
  padding: 32px;
  margin: auto;
  max-width: 1200px;
}

.qs-intro {
  text-align: center;
  margin-bottom: 32px;
}

.qs-subtitle {
  font-size: 32px;
  color: #f38b32;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.qs-description {
  font-size: 19px;
  line-height: 1.8;
  color: #555;
  margin: 0 auto;
  max-width: 1000px;
  text-align: justify;
}

.qs-culture {
  text-align: center;
}

.qs-culture-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
}

.qs-culture-cards .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.qs-culture-cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.qs-values {
  text-align: center;
}

.qs-values-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.qs-value-item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(195, 105, 105, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.qs-value-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.qs-value-item i {
  font-size: 30px;
  color: #f38b32;
  margin-bottom: 10px;
}

.qs-value-item h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 768px) {
  .qs-title {
    font-size: 40px;
  }

  .qs-subtitle {
    font-size: 24px;
  }

  .qs-description {
    font-size: 16px;
  }

  .qs-culture-cards {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}
