.carousel {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 500px;
}

.slider-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .carousel {
    max-height: 300px;
  }

  .slider-image {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .carousel {
    max-height: 200px;
  }

  .slider-image {
    height: 200px;
  }
}
