.view-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.view-info h2 {
  color: #f38b32;
  font-size: 40px;
  margin-bottom: 16px;

  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.view-dog {
  border-radius: 10px;
  padding: 20px;
  text-align: center;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  max-width: 400px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  background-color: white;
}

.view-dog.expanded {
  transform: scale(1.05);
  background-color: rgba(0, 142, 180, 0.4);
  z-index: 1;
}

.dog-description {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  overflow: hidden;
}

#nameDog {
  color: #008eb6;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.view-dog img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.view-dog:hover img {
  transform: scale(1.1);
}

.view-dog button {
  background-color: #008eb6;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.view-dog button:hover {
  background-color: #005f80;
}

@media (max-width: 1024px) {
  .view-dog {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .view-dog {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
