/* Contenido principal */
.content {
  margin-left: 250px;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s ease-in-out;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }

  .content.sidebar-open {
    margin-left: 250px;
  }
}
