.container {
  padding: 16px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1.h4 {
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
}

button.btn-primary {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.table {
  background-color: white;
  border-radius: 8px;
  overflow: auto;
}

.table th {
  background-color: #637aa6;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 14.4px;
  text-transform: uppercase;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table td {
  text-align: center;
  vertical-align: middle;
  font-size: 13.6px;
  padding: 8px;
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

button {
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

.agregar-btn {
  background-color: #023e73;
  border-color: #023e73;
  color: white;
  font-weight: bold;
}

.title-modal {
  text-align: center;
  background-color: #637aa6;
  color: white;
}

.btn-modal {
  background-color: #023e73;
  color: white;
  width: 100%;
  justify-content: center;
}

.btn1-modal {
  background-color: #0a7311;
  color: white;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .table {
    font-size: 12.8px;
  }
  .actions-cell {
    flex-direction: column;
    gap: 8px;
  }
}

.actions-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  font-size: 16px;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

.action-button i {
  margin: 0;
}

.action-button:hover {
  transform: scale(1.1);
}
