.custom-form-container {
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 50px 50px 50px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255); /* Fondo blanco */
  box-shadow: 0px 4px 8px rgb(160, 160, 160); /* Sombra gris */
}

.form-title {
  color: #f38b32;
  font-weight: bold;
}

.custom-label {
  color: #000000;
}

.custom-button {
  max-width: 200px;
  margin-top: 30px;
  background-color: #f38b32;
  border-color: #f38b32;
  width: 100%;
}

.custom-button:hover {
  background-color: #e59400;
  border-color: #e59400;
}
