/* Contenedor principal */
.general-table-container {
  margin: 20px auto;
  max-width: 1000px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tabla general e historial */
.general-table,
.detail-table {
  margin-top: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo de las fotos */
.history-photo {
  width: 100px; /* Aumenta el tamaño de la imagen */
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

/* Estilo de la columna de fotos */
.photo-column {
  text-align: center; /* Centra la imagen en la columna */
  width: 150px; /* Define un ancho mayor para la columna */
}

button {
  font-size: 14px;
}
