/* Estilos del Sidebar para pantallas grandes */
.sidebar {
  position: fixed;
  top: 60px; /* Alinea el Sidebar justo debajo del Header */
  left: 0;
  width: 250px;
  height: calc(100vh - 60px); /* Altura del Sidebar sin cubrir el Header */
  background-color: #a0a0a0 !important;
  padding-top: 20px;
  transition: left 0.3s ease; /* Transición para mostrar/ocultar en pantallas pequeñas */
  z-index: 1000; /* Se asegura de que esté sobre el contenido */
}

/* Sidebar en pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar {
    left: -250px; /* Oculta el Sidebar a la izquierda */
    top: 0; /* Ajusta la posición para cubrir toda la pantalla al mostrarse */
    height: 100vh; /* Altura completa en dispositivos móviles */
    z-index: 1100; /* Asegura que esté sobre el contenido */
  }

  /* Mostrar el Sidebar cuando se active la clase `show` */
  .sidebar.show {
    left: 0; /* Hace visible el Sidebar */
  }
}
