.general-table-container {
  margin: 20px auto;
  max-width: 1000px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.general-table,
.detail-table {
  margin-top: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.history-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.photo-column {
  text-align: center;
  width: 150px;
}

button {
  font-size: 14px;
}
