.dog-card {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: rgba(243, 139, 50, 0.2);
  font-family: "Nunito", sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 413px;
  margin: 20px auto;
}
.dog-card img {
  width: 350px;
  height: 275px;
  border-radius: 10px;
}
.dog-card h3 {
  margin: 0.5rem 0;
  color: #f38b32;
  font-weight: 700;
}
.dog-card button {
  background-color: #f38b32;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .dog-card {
    max-width: 100%;
  }
}
