.footer {
  background-color: rgba(243, 139, 50, 0.35);
  color: #008eb6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Nunito", sans-serif;
}
.footer-logo {
  flex: 1;
  text-align: center;
}
.footer-logo img {
  width: auto;
  height: 100px;
}

.contact-info {
  flex: 2;
  text-align: center;
}
.social-media {
  color: #008eb6;
  flex: 1;
  text-align: center;
}
.social-media a {
  margin: 0 50px;
}
.social-media i {
  font-size: 30px;
}

.social-media a:hover {
  color: #f38b32;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
