.info-dog-section {
  text-align: center;
  margin: 2rem 0;
  font-family: "Nunito", sans-serif;
}
.info-dog-section h2 {
  color: #f38b32;
  font-size: 36px;
}
.info-dog-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}
